.About {
    display: flex;
    max-width: 1200px;
    justify-content: space-between;
    margin: 0 auto;
    padding: 10px 10px;
}

.info h1{
    font-family: "Markazi text", sans-serif;
    font-size: 3em;
}

.info p {
    width: 300px;
}

.picture {
    max-width: 700px;
    padding: 10px 10px;
}

#ChefsPhoto {
    max-width: 100%;
}

@media only screen and (max-width: 818px) {
    .About {
        flex-direction: column;
        align-items: center;
    }

    .info p {
        width: 90vw;
    }
    
}