.container {
    background-color: #495E57;
    background: linear-gradient(180deg, #495E57 85%, white 50%);
}

.Hero {
    display: flex;
    height: 380px;
    margin: 0 auto;
    justify-content: space-between;
    max-width: 1440px;
}

.text h1 {
    color: #F4CE14;

}

.text h3 {
    color: white;
}

.text p {
    color: white;
    width: 210px;
}

.text button {
    background-color: #F4CE14;
    border: 0px;
    border-radius: 5px;
    height: 30px;
    width: 120px;
}

.food_image {
    height: 380px;
    border-radius: 20px;
    float: right;
    padding: 10px 0px 0px 0px;
}