.highlights {
    max-width: 1200px;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    padding: 10px;
    padding-bottom: 20px;
}

.heading {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.heading h3 {
    font-size: 40px;
    font-family: "Markazi text", sans-serif;
    font-size: 3em;
}

.heading button {
    border-radius: 10px;
    background-color: #F4CE14;
    height: 50px;
    width: 150px;
    border: 0px;
    font-weight: bold;
    font-size: 15px;
}

.highlights_items {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    gap: 20px;
}

.Highlight {
    padding: 20px auto;
}

