@import url('https://fonts.googleapis.com/css?family=Markazi+Text&display=swap');
nav {
    background-color: white;
    position: sticky;
    top: 0px;
    z-index: 1;
    height: 60px;
    overflow-x: hidden;
    margin-right: calc(-1 * (100vw - 100%));
}

.navbar {
    max-width: 1440px;
    margin: 0 auto;

}

#Logo {
    position: inline;
    padding-top: 10px;
    padding-bottom: 10px;
    float: left;
}

.navbarLinks {
    list-style-type: none;
    display: inline;
    float: right;
}

.navbarLinks li {
    display: inline;
    padding: 20px 0px 20px 20px;
    font-family: 'Markazi Text', serif;
    font-weight: 800;
    text-transform: uppercase;
}

.links {
    display: inline;
    padding: 20px 0px 20px 20px;
    font-family: 'Markazi Text', serif;
    font-weight: 800;
    text-transform: uppercase;
    color:#777;
    text-decoration: none;
}

.links:hover {
    color: black;
    cursor: pointer;
}
